<div class="users form">
<?php echo $this->Form->create('User', array('url' => "/Users/changeSL"));?>
	<fieldset>
	<legend>Change Short Login</legend>
	Hallo, <?=$username;?><br>
	bitte gib dein neues ShortLogin ein.<br>

	<?php
		echo $this->Form->input('sl',  array('label' => 'short name'));
		echo $this->Form->input('sp',  array('label' => 'short password'));
	?>
	</fieldset>
<?php echo $this->Form->end('Submit');?>
</div>
