

<div class="users form">
<?php echo $this->Form->create(null, array('url' => '/Users/edit'));?>
	<fieldset>
 		<legend>ich habe interesse...</legend>
	
<div id="yesorno">
<!--
<? $zusage = $this->request->data['User']['zusage'] ?>
	<fieldset><legend>Zusage</legend>
	<input name="data[User][zusage]" id="UserZusage0" value="0" <?= $zusage==0?'checked=checked':''?>  type="radio"> Ich bin mir noch nicht sicher 
	<input name="data[User][zusage]" id="UserZusage1" value="1" <?= $zusage==1?'checked=checked':''?> type="radio"> Ich möchte verbindlich zusagen 
	<input name="data[User][zusage]" id="UserZusage99" value="99" <?= $zusage==99?'checked=checked':''?> type="radio"> Ich kann leider doch nicht
	</fieldset>
</div>
-->
	<?php
		$options = array(0 => ' Ich bin mir noch nicht sicher ', 1 => ' Ich möchte verbindlich zusagen ', 99 => ' Ich kann leider doch nicht');
		echo $this->Form->radio("zusage" , $options, array('label' => false));
	?>
	
	

</div><br>
<div style="width:450px; float:left">

<u><b> persönliche daten </b></u><br>
	<?php

		echo $this->Form->hidden('id');
		echo $this->Form->input('email');
		echo $this->Form->input('password', array('value' => '')); echo ("(optional) - leer lassen für keine änderung");
		echo $this->Form->input('forename', array('label' => 'Vorname'));
		echo $this->Form->input('surname', array('label' => 'Nachname'));
?>
<br>
<u><b> organistatorisches </b></u><br>
<?
		echo $this->Form->input('uebernachtung');
		echo $this->Form->input('mitangemeldet', array('style' => 'width:308px'));
		echo $this->Form->input('kontakt',array('label' => 'Wen kennst du ?'));
		echo $this->Form->label('Mitmachen'); echo "<br>";
		echo $this->Form->input('mitmachen', array('label' => false,'style' => 'width:308px'));
		echo $this->Form->label('Anmerkungen'); echo "<br>";
		echo $this->Form->input('desc', array('label' => false, 'style' => 'width:308px'));
	?>
</div>
	<div style="float:right;  width:350px">
<u><b> an und abfahrt </b></u><br>
		<?
		echo $this->Form->input('verkehrsmittel');
		echo $this->Form->input('mitfahrgelegenheit', array('label' => 'mitfahren', 'options' => array('', 'suche', 'biete')));
		echo $this->Form->input('ort');
		echo $this->Form->label('anreise'); echo "<br>";
		echo $this->Form->input('anreise',array('timeFormat'=>'24', 'dateFormat' => 'DM', 'label' => false));
		echo $this->Form->label('abreise'); echo "<br>";
		echo $this->Form->input('abreise',array('timeFormat'=>'24', 'dateFormat' => 'DM', 'label' => false));
?>
	<br><br>
		1. Wenn du Personen mitbringen willst (zb: deine Familie) trag die anzahl unter mitangemeldet ein.
		Personen die eigenständig anreisen sollten sich seperat anmelden.<br><br>
		2. Schreibe uns unter 'Wen kennst du?' auf welchen der der anderen Teinehmenden (Organistoren) du kennst oder woher
		du von der Veranstaltung weißt. (damit wir wissen das du echt bist)<br><br>
		3. Schreib uns unter Mitmachen auf was/ob du etwas anbieten / beim aufbauen, abbauen, kochen helfen / auftreten willst<br><br>
		4. Bitte sag wenn möglich wann du kommst und wann du wieder fährst, durch auswahl von mitfahren können andere dich zwecks mitfahrgelegenheit kontaktieren<br><br>
		5. Wenn du uns schreibst wie du übernachten willst (logistik), erleichtert uns das die unterkunfstplanung  
	</div>
</fieldset>
<?php echo $this->Form->end('Submit');?>
</div>
