<?php ?>
<div class="users index">
<p>

</p>
<table cellpadding="0" cellspacing="0">
<tr>
	<th>name</th>
	<th>kontakt</th>
	<th>anfahrt</th>
	<th>abfahrt</th>
	<th>mitmachen</th>
	<th>zu</th>
	<th>desc</th>
	<th>+</th>
	<th></th>
	
</tr>
<?php

$alle = $zusagen = $i = 0;
foreach ($users as $user):
	$class = null;
	if ($i++ % 2 == 0) {
		$class = ' class="altrow"';
	}
	if($user['User']['zusage'] == 0){
		$alle++;
	}
	if(isset($user['User']['mitangemeldet'])) $alle = $alle + $user['User']['mitangemeldet'];
	
	if($user['User']['zusage'] == 1){
		$alle++;
		$zusagen++;
		$zusagen = $zusagen + $user['User']['mitangemeldet'];
	}
	
?>
	<tr<?php echo $class;?>>
		<td>
			<?php echo $this->Html->link($user['User']['forename'], array('action' => 'view', $user['User']['id'])); ?>
			<?php echo $user['User']['surname']; ?>
		</td>

<!--		<td>
			<?php echo $user['User']['email']; ?>
		</td>
-->
		<td>
			<?php echo $user['User']['kontakt']; ?>
		</td>
		<td>
			<?php if(($user['User']['anreise']) && $user['User']['anreise'] <> '0000-00-00 00:00:00') echo date('d.m H:i', strtotime($user['User']['anreise'])); ?>
		</td>
		<td>
			<?php if(($user['User']['abreise'])) echo date('d.m H:i', strtotime($user['User']['abreise'])); ?>
		</td>

				<td>
			<?php echo $this->Html->link( substr($user['User']['mitmachen'],0,30),array('action' => 'view'),
				array('data-tooltip' => $user['User']['mitmachen']));	 ?>
		</td>
				<td>
			<?php echo $user['User']['zusage']; ?>
		</td>
				<td> 
			<?php echo $user['User']['desc']; ?>
		</td>
		<td>
			<?php echo $user['User']['mitangemeldet']; ?>
		</td>
		<td>
			<?php echo $this->Html->link($this->Html->image("edit.gif", array("border" => 0, 'title' => 'hinzufügen')), array('controller' => 'Users', 'action'=>'edit', $user['User']['id']),array('escape' => false),null,false); ?>
		</td>
		

	</tr>
<?php endforeach; ?>
</table>
gesamt: <?= $alle ?><br>
zusagen: <?= $zusagen ?><br>

</div>

