<br>
<b>Login </b>
<br>
<br>
<?php
$this->Session->flash('auth');
echo $this->Form->create('User', array('action' => 'login'));
echo $this->Form->input('User.email');
echo $this->Form->input('User.password');
echo $this->Form->end('Login');
echo "<br><br><br><br><br><br><hr>";

echo $this->Form->create(null, array('url' => "/Users/noaccess"));?>
	<span>Passwort vergessen ?</span><br><br>

	<?php
		echo $this->Form->input('email');
	?>
<?php echo $this->Form->end('Submit');?>
<br><br><hr>
<?

echo "<br><br/>Noch kein Account? Jetzt ";
echo $this->Html->link(__('registrieren'), array('controller'=> 'users', 'action'=>'add'));

?>

