<?php ?>
<div class="users index">
<p>

</p>
<table cellpadding="0" cellspacing="0">
<tr>
	<th>name</th>
	<th>email</th>
	<th>anfahrt</th>
	<th>abfahrt</th>
	<th>mitfahrgelegenheit</th>
	<th>ort</th>
	<th>verkehrsmittel</th>
	
</tr>
<?php

$alle = $zusagen = $i = 0;
foreach ($users as $user):
	$class = null;
	if ($i++ % 2 == 0) {
		$class = ' class="altrow"';
	}
	if($user['User']['zusage'] == 0){
		$alle++;
	}
	if(isset($user['User']['mitangemeldet'])) $alle = $alle + $user['User']['mitangemeldet'];
	
	if($user['User']['zusage'] == 1){
		$alle++;
		$zusagen++;
		$zusagen = $zusagen + $user['User']['mitangemeldet'];
	}
	
?>
	<tr<?php echo $class;?>>
		<td>
			<?php echo $user['User']['forename']; ?>
		</td>

		<td>
			<?php echo $user['User']['email']; ?>
		</td>

		<td>
			<?php if(($user['User']['anreise']) && $user['User']['anreise'] <> '0000-00-00 00:00:00') echo date('d.m H:i', strtotime($user['User']['anreise'])); ?>
		</td>
		<td>
			<?php if(($user['User']['abreise'])) echo date('d.m H:i', strtotime($user['User']['abreise'])); ?>
		</td>

		<td>
			<?php echo $sucheoderbiete[ $user['User']['mitfahrgelegenheit']]; ?>
		</td>
		<td> 
			<?php echo $user['User']['ort']; ?>
		</td>
				<td>
			<?php echo $user['User']['verkehrsmittel']; ?>
		</td>
		

	</tr>
<?php endforeach; ?>
</table>
gesamt: <?= $alle ?><br>
zusagen: <?= $zusagen ?><br>

</div>

