Dein Account ist noch nicht aktiviert oder deine Emailadresse ist falsch.<br>
Bitte klick auf den Link in der Bestätigungsemail<br><br>

Hast du eine falsch Emailadresse angegeben oder benötigst den link nochmal?<br><br>

<b><?= $this->Html->link('Dann ändern hier deine Email', array('action' => "changeEmail/$id"));?></b>


