
<div class="crewview users view" style="border-right: solid 2px black; width:500px">
	<dl>
		<dt>Name</dt>
		<dd>
			<?php echo $user['User']['forename']." ".$user['User']['surname']; ?>
		</dd><br>
		<dt><?php echo __('Email'); ?></dt>
		<dd>
			<?php echo $user['User']['email']; ?>
			
		</dd>
		<dt>Zusage</dt>
		<dd>
			<?php echo $user['User']['zusage']; ?>
			
		</dd>
		<dt><?php echo __('Kontakt'); ?></dt>
		<dd>
			<?php echo $user['User']['kontakt']; ?>
			
		</dd>

		<dt>Desc</dt>
		<dd>
			<?php echo $user['User']['desc']; ?>
		</dd><br>

		<dt>mitangemeldet</dt>
		<dd>
			<?php echo $user['User']['mitangemeldet']; ?>
		</dd><br>

		<dt><?php echo __('mitmachen'); ?></dt>
		<dd>
			<?php echo $user['User']['mitmachen']; ?>
			
		</dd>


		</dl>		
		<br>


</div>
<div>

</div>


