<div>
<? $bilder = array(
'kg2015_draussenbuene.jpg', 'grischan_gelb.jpg',
'kg2015_buenedrinnen.jpg','kg2015_swing2.jpg',
 'gorgast3.jpg', 'hanna_blau1.jpg',
'kg2015_lampe1.jpg','antonio_rot.jpg',
'kg2015_luftballons.jpg','kg2015_swing3.jpg',
'kg2015_vorkueche.jpg','kg2015_zelte.jpg',
'kg2015_kistenklettern.jpg','kg2015_draussenbuene_ferne.jpg',
);

?>

<? foreach($bilder as $bild){ ?>
<div style="float:right; padding-right:8px">
<?= $this->Html->image($bild, array('class' => 'logzo', 'width' => '417px')); ?>
</div>
<? } ?>

</div>
<br style="clear:both">
