<div>

Unbestätigten Gerüchten zufolge soll am 31. Juli - 2. August 2015 drei
Tage lang eine Sause nahe der polnischen Grenze steigen.<br>
Fünf bis viele Organisator*innen planen abends/nachts 1-2 Tanzflächen und
Livemusik in abgefahrenen Gemäuern sowie tagsüber verschiedene Workshops
/ Herumhängen / Kochen / Schnitzeljagd auf einem hügeligen von Wasser
umschlossenen Gelände.<br><br>

Kosten, Koch und Putzaktivitäten werden von allen getragen.
Eine Beteiligung in Form von Workshops / Performance / Lesungen / musikalischen Auftritten ist ausdrücklich erwünscht.
<br>
Kinder sind willkommen.
<br>
Eine Anmeldung ist obligatorisch.
Weitere Infos nach der Anmeldung.
<br>
Spread the word.
<br>
Wir freuen uns!!!
<br>
alle organisatoren haben auch in diesem jahr geburtstag<br><br> 


hanna, dirk, antonio, nils, grischan, ...
</div>
