<center>
<div style="height:500px;overflow:hidden;">
<? 
//$bilder = array(
//'kg2015_draussenbuene.jpg', // 'grischan_gelb.jpg',
//'kg2015_buenedrinnen.jpg','kg2015_swing2.jpg',
// 'gorgast3.jpg', // 'hanna_blau1.jpg',
//'kg2015_lampe1.jpg', // 'antonio_rot.jpg',
//'kg2015_luftballons.jpg','kg2015_swing3.jpg',
//'kg2015_vorkueche.jpg','kg2015_zelte.jpg',
//'kg2015_kistenklettern.jpg','kg2015_draussenbuene_ferne.jpg',
//);


for ($x = 0; $x <= 7; $x++) {
$bilder[] = 'klingtgut_1000px-' . $x . '.jpg';
}

$nr = rand(0,sizeof($bilder)-1); 
?>
<div style="margin-top:-80px;">
<?= $this->Html->image($bilder[$nr], array('class' => 'logzo', 'width' => '1000px')); ?>
</div>
</div>
</center>