	<form action="apinbox_f796tbogvg_recieve" method="post">
	subject <input name='subject'></input> 
	html <input name='html'></input> 
	plain <input name='plain'></input> 
	
	<input type="submit"></input>
	</form>



