<div class="kptnTodos index">
		<?php echo $this->Html->link($this->Html->image("info.gif", array("border" => 0, 'title' => 'ansehen')), array('action'=>'view', $mail['Mail']['id']),array('escape' => false),null,false); ?>
		<? if($cox){ ?>
			<?php //echo $this->Html->link($this->Html->image("edit.gif", array("border" => 0, 'title' => 'bearbeiten')), array('action'=>'edit', $mail['Mail']['id']),array('escape' => false),null,false); ?>
			<?php echo $this->Html->link($this->Html->image("trash.gif", array("border" => 0, 'title' => 'In den Papierkorb')), array('action'=>'papierkorb', $mail['Mail']['id']), array('escape' => false), null,false); ?>
		<? } ?><br>
		
		<label>Datum</label><?php echo date('d.m.Y' , strtotime( $mail['Mail']['datum'])); ?><br>
		<label>Betreff</label><?php echo $mail['Mail']['subject']; ?><br>
		<label>Kategorie</label><?=	$mail['KptnTodocat']['title']; ?><br><br>
		<? if ($mail['Mail']['type'] == 'text/plain') echo '<pre>'?><?php echo $mail['Mail']['content']; ?>
		<? if ($mail['Mail']['type'] == 'text/plain') echo '</pre>' ?>
		<br>
		
		<?
			if(! empty($mail['Mail']['attachment'])) 
				foreach(explode(',', $mail['Mail']['attachment']) as $filename){
					 echo $this->Html->link($this->Html->image("document.gif", array("border" => 0, 'title' => $filename)), array('controller' => '/media/', 'action' => $mail['Mail']['id'].'/'.$filename),array('escape' => false),null,false); 
				}
		?>
</div>
