a:link    { color:#2F5400; font-family:Tahoma,sans-serif;   text-decoration:none; }
a:visited { color:#2F5400; font-family:Tahoma,sans-serif; font-weight:bold; text-decoration:none }
a:hover   { color:#ffffff; background-color:#666666; font-family:Tahoma,sans-serif; text-decoration:none;}
a:active  { color:#CF8430; background-color:#333; text-decoration:none;}

#tidalogo{
	padding-top:10px;
}

a[data-tooltip]:before {
	position: absolute;
	background-color: white;
	color: black;
	border-radius: 5px;
	padding: 0.5em;
	margin-left: 100px;
	content: attr(data-tooltip);
	width:20em;
	border:solid 1px #A0A0A0;
	opacity:0;
	visibility:hidden;
	box-shadow: 0 2px 5px #888;
	background:-webkit-linear-gradient(top,#eeeeee, #fff); 
	background:-o-linear-gradient(top,#eeeeee, #fff);
	background:-ms-linear-gradient(top,#eeeeee, #fff);
	background:linear-gradient(to bottom,#eeeeee, #fff);
	overflow: hidden;
}
a[data-tooltip]:hover:before {
	display: block;
	opacity:1;
	visibility:visible;
}

body{
	text-align: center;
	background: #fff;
	FONT-SIZE: 0.8em;
	FONT-FAMILY: Myriad, Tahoma, Geneva, sans-serif;
	margin: 0px;
}

.programm dt{
	float:left;
}
.programm dd{
	padding-left:200px;
}

.programm{
	text-align:left;
	font-size:1.2em;
	width:100%;
}
label {
	width:150px;
	float:left;
	display:block;	
}


#menu {/* this 'box' holds the menu */
   text-align: left; /* all the menu items are left aligned in the 'box' */
	margin-top: 1px;
	border-top: solid #1a1a1a 2px;
	border-bottom: solid #1a1a1a 2px;
	border-left: solid #1a1a1a 2px;
	border-radius: 4px 0px 0px 4px;

}

.menutd{
	margin-top:0px;
	padding-top:0px;
	vertical-align:top;
	height: 9px;
}


i{
	white-space:pre;
}

#hauptteil{
	text-align:left;
	min-width:750px;
	padding-top:20px;
	background-color:#eeeeee;

}

#haupttabelle{
	text-align:left;
	width:870px;
}



.content{
	text-align:left;
	font-size: 12pt;
}

<<<<<<< HEAD
.content td{
	padding: 0 0 4px 4px;
	border:solid 1px #000;
}
.pt4{
	padding-top:4px;
}
.content .todotable .firsttr th{
	border-bottom:solid 1px #000;
}

.content .todotable{
	border-bottom:solid 1px #000;
	width: 100%;
}


.content .todotable td,th{
	border:none;
	border-bottom:solid 1px #ddd;
	border-left:solid 2px #111;
	border-right:none;
	
}
.content .todotable .firsttd{
	border-left:solid 0px #111;
}
.content .todotable .optional{
	color:grey;
}
.content .todotable .optional a{
	color:grey;
}

.content .todotable .optional .icon_button a{
	color:white;
}


.content .todotable .actions{
	width:100px;
}


.content .crewtable .firsttr th{
	border-bottom:solid 1px #000;
}

.content .crewtable{
	border-bottom:solid 1px #000;
	width: 100%;
}


.content .crewtable td,th{
	border:none;
	border-bottom:solid 1px #ddd;
	border-left:solid 2px #111;
	border-right:none;
	
}
.content .crewtable .firsttd{
	border-left:solid 0px #111;
}

.category{
	margin-bottom:11px;
	FONT-SIZE: 1.2em;
}
#footertd{
	margin-top:0px;
	padding-top:0px;
	vertical-align:top;
}
.contenthr{
	border:1px;
	color:black; 
	background-color:black; 
	height:3px;

}
#UserLoginForm .submit{
	display:inline;
	padding-left:150px;
	font-size:90%;
	margin-top:7px;
}
#UserLoginForm label{
	display:inline;
	float:left;
	font-size:91.25%;
}

.loginform{
	background-color:#fff;
	float:left;
}
#UserLoginForm .submit input{
	width:210px;
}
#UserLoginForm input{
	padding-top:0px;
	margin-left:10px;
	font-size:100%;
	width:200px;
}

#UserLoginForm .error-message{
	display:none;
}

#shiftupdate {
	/* position:absolute; */
	width: 10px;
	height:30px;
	float:right;
	font-size:10px;
	text-align:right;
}
.paging{
	display:inline;
}

.error-message{
	color:red;
	display:inline;
}

.kstxt{
	width:400px;
	float:left;
	border-bottom: 1px dotted #000;
	display:block;
}

.view .ksvalue{
	font-weight:600;
	width:100px;
	float:left;
	border-bottom: 2px solid #000;
	text-align:right;
	padding-right:5px;
	display:block;
}

.add .ksvalue{
	font-weight:600;
	width:250px;
	float:left;
	text-align:right;
	padding-right:5px;
	display:block;
}

.paging .symbols{
	float:left;
	width:300px;
}

.howmuch{
	min-width:400px;
}

.paging div{
	display:inline;
	font-size:90%;
}

.index th{
	padding-right:5px;
	padding-left:5px;

}

.crewview dt{
	width:150px;
	float:left;
}
	
.defaultform label{
	width:150px;
	float:left;
	display:block;	
}
.defaultform input{
	width:230px;
}
.defaultform option{
	width:205px;
}
.defaultform .datetime option{
	width:auto;
}

.groupuser{
	width: 130px;
	float:left;
}
