/* ######################################################################################################
** # "Yet Another Multicolum Layout" (c) by Dirk Jesse (http://www.yaml.de) #############################
** ######################################################################################################
**
**  YAML version: 2.5.1
**  File version: 27.08.2006
**  File        : basemod.css
**  Purpose     : Base modifications of teilr layout
**  Changes by  : Grischan Glänzel
**
*/

@media all
{

html{ margin:0 auto; height:100%}

/* formating the page */
body { background: #fff; padding: 0px;	height:100%}

/* default.ctp und whorents */
.leihspalte{
	width:120px;
}

/* static */

.staticpage i{
	font-weight:bold;
}

#UserLoginForm .error-message{
	display:none;
}

.paging{
	display:inline;
}

.error-message{
	color:red;
	display:inline;
}



#UserLoginForm .input{
	display:inline;
	float:left;
	padding:0px;
	padding-top:2px;
	padding-left:10px;
	height:15px;
	line-height:1.3em;
	//background-color:#482;
}
#UserLoginForm .submit{
	display:inline;
	float:left;
	padding:0px;
	padding-top:2px;
	padding-left:10px;
	height:15px;
	font-size:90%;
	//background-color:#482;
}
#UserLoginForm label{
	padding-left:10px;
	display:inline;
	float:left;
	padding-top:0px;
	font-size:91.25%;
	color: white;
}
.loginform{
	width:80px;
	background-color:#fff;
}

#UserLoginForm input{
	display:inline;
	float:left;
	height:15px;
	padding:0px;
	margin-left:10px;
	font-size:100%;
}

.cwikititle{
	display:none;
}
.entrymeta{
	font-size:10px;
}


/* head area */
#header { height: 65px; color: #fff; background: #fff;}
#header_title img { padding: 20px 0 0 20px; margin-right:10px; float:left; }
#header_title h1 { padding-top: 10px; font-size:250%; color: #8a9c3f; float:left;}
#title_theory { font-weight:bold; }


.boxview{
	border: 2px solid #E79921;
	padding: 12px 16px;
	margin-bottom: 5px;
	min-height: 372px;
}
.boxview td{
	padding:3px;
	//border-left: solid #000 1pt;
}
.boxview th{
	padding:3px;
	//border-left: solid #000 1pt;
	border-bottom: solid #000 1pt;

}

#header_title h2 {
	padding:0px 0px 0px 0px;
	margin: 20px 0px 0px 20px;
	width: 60%; 
	float:right; 
	background: #B6DA1D;
	border-bottom:none;
	color: #fff; 
	overflow:hidden;
}

#topnav { top: 2px; color: #000000;}

.checkbox{
	padding: 2px;
}

.checkbox label{
	display:inline;
	padding: 2px;
}

.input {
	padding: 3px;
}

fieldset {
	border: 2px solid #E79921;
	padding: 12px 16px;
	margin-bottom: 5px;
}


label{
	padding-top:8px;
	display:block;
}

input[type=submit] {
	display: inline;
	font-size: 110%;
	padding: 2px 5px;
	width: auto;
	vertical-align: bottom;
}

/* brotkrumen */
#nav{
		margin-right:3px;
}

#nav_main { 
	padding-top:3px;
	border-top: solid #C79921 2pt; 
}
#nav_main ul {
  white-space: nowrap;
  margin:0;
  padding:0 0 0 8px;
  list-style:none;
  height: 19px;
  color: light-grey;
}
#firstline{
  background-color:#8a0;
}

#firstline a{
  color: white;
}

#firstline #current{
  background-color:white;
}
#firstline #current a{
  color: black;
}

.navitrenner{
	color:white;
	width:3px;
}
  
#nav_main li {
  float:left;
  padding: 0px 7px 0px 7px;
}

#nav_main a {
  font-size:95%;
}

#secondline{
  white-space: nowrap;
  margin:4;
  padding:2 2 2 8px;
  list-style:none;
  height: 19px;
  background-color:white;
   
  border-bottom: solid #E7AA21 2pt;
}
#secondline li {
	float:left;
	padding:0 7px;
}

/* foot area */
#footer { color:#888; background:#fff; padding: 0.5em 1em; border-top: 2px #E7AA21 solid; line-height: 2em;}

/* ######################################################################################################
** ### Formating the content columns ####################################################################
** ######################################################################################################
*/
#main { background: #fff ; padding: 1em 0; } 

/* left column */
#col1 { width: 120px; }
#col1_meta { padding-left: 1em; margin-right: 1em; color: #444; background:#D8E538; }
#col1_content {  padding-left: 1em; margin-right: 1em; color: #444; background:#B6DA1D; min-height:400px;}

#submenu a{
	display: inline;
}
#col2_content #submenu li a{
	color:white;
}
#col2_content #submenu li a:hover{
	color:black;
}


/* right column */
#col2 { width: 180px; }
#col2_content { 
	margin-top:100px; 
	padding-right: 1em;
	font-size: 10pt;
	color:white;
}


/* center column */
#col3
{
    margin-left: 110px; 
    margin-right: 0px;
}

#col3_content { margin-left: 1em; margin-right: 1em; }

#plusminus {border: solid 1px #444; font-size:9pt; display:block; float:left; margin:3px 2px 0px 0px; padding: 0px 1px 0px 1px; line-height:7pt;}
#paranum{border: solid 1px #444; font-size:9pt; display:block; float:left; margin:3px 2px 0px 0px; line-height:7pt}


/* ######################################################################################################
** ### Formating of teasers of start page ###############################################################
** ######################################################################################################
*/

#teaser { 
    margin: 0em 1em 0em 1em; 
    background: #f4f4f4; 
    border-bottom: 1px #ccc solid; 
    padding: 0.5em 0em 0em 30px; 
    color: #5f5d75; 
}

#teaser div {float:left; width: auto; margin-right: 1em; }
#teaser .block1 {padding-top:1em; font-size: 0.82em; }
#teaser .block3 {width: 50%; padding-top:0.5em; font-size: 0.82em; }

#teaser .block3 .title {
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif; 
    display:block;
    font-size: 1.2em; 
    font-weight:bold; 
    color: #336699;  
    background:inherit;  
    margin: 0 0 0.5em 0; 
}

.thingadmins{
	padding-left:4px;
	width:195px;
	float:left;
}
.thingadminsaction{
	border: solid 1px #bbb;
	background-color:#f8f8f8;
	font-size: 0.9em;
	color: grey;
	padding-right:33px;
	padding-left:33px;
	display:inline;
}


#addAdminToThing div,label{
	display:inline;
	font-size: 0.9em;
	color: grey;
}

#addAdminToThing input{
	font-size: 0.8em;
}



}
