<div>

Fort Gorgast<br>
15328 Küstriner Vorland

<p>
<?= $this->Html->link('Mitfahrgelegenheit', '/Users/mitfahrt'); ?>

<div>
<b>Mit dem Rad</b><br>
Der Europaradweg R1 führt nur wenige Kilometer entfernt von Gorgast vorbei:<br>
<a href="http://www.r1-radweginfo.de/r1-radweg-deutschland-brandenburg-berlin.php">www.r1-radweginfo.de/r1-radweg-deutschland-brandenburg-berlin.php</a>
</div><br>
<div>
<b>Mit der Bahn</b><br>
Der Rb26 fährt alle 2h von S-Bhf Lichtenberg nach Gorgast. Der letzte fährt 19:37.
Der Bahnhof Gorgast liegt direkt an der Banhtrasse Ecke Bahnhofstraße
</div><br>
<div>

<b>Mit dem Auto</b><br>
Frankfurter Allee immer geradeaus und kurz vor Polen links rein.
</div><br>



<iframe style="height: 600px; width: 900px;" src="http://open.mapquest.de/embed?hk=1Fyq8tv" marginwidth="0" marginheight="0" frameborder="0" scrolling="no"></iframe>

</div>
