<?php
$MAIL_HOST="pop.googlemail.com";
$USER_NAME="teilees.de";
$USER_PASS="es2teile";

// open POP connection
$inbox = imap_open ("{". $MAIL_HOST . ":995}", $USER_NAME, $USER_PASS) or die("Can't connect POP3-Server!");

// get total messages
$total = imap_num_msg($inbox)+1;


for($i=1; $i<$total; $i++) {
// get message headers and structure
$headers = imap_header($inbox, $i);
$structure = imap_fetchstructure($inbox, $i);

echo "Von: ".htmlspecialchars($headers->fromaddress);
echo "<br>\n";

echo "An: ".htmlspecialchars($headers->toaddress);
echo "<br>\n";

echo "Datum: ".$headers->Date;
echo "<br>\n";

if ($headers->Subject) {
echo "Betreff: ".$headers->Subject;
}else{
echo "Betreff: "."Nicht Vorhanden";
}
echo "<br>\n";

echo nl2br(htmlspecialchars(stripslashes(trim(imap_body($inbox, $i)))));
echo "<br>\n";

echo "<HR>\n";

}

// clean up
imap_close($inbox);
?> 
