<div class="mails form">
<?php echo $this->Form->create('Mail', array('type' => 'file', 'action' => "/sendwebmail/"));?>
	<fieldset>
 		<legend><?php echo __('Email an Gruppe versenden'); ?></legend>
	<?php
		echo $this->Form->label('an');
		echo $this->Form->select('to', $groups, array('value' => 16));
		echo "<br>";
		//echo $this->Form->label('kategorie');
		//echo $this->Form->select('kptn_todocat', $kptn_todocats, array('value' => 8));
		echo $this->Form->input('subject');
		echo $this->Form->input('content');
		echo $this->Form->label('Anhang');
		echo $this->Form->file('Document.file');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit'));?>
</div>
