Hallo <?= $username ?>,<br>

Du hast dich erfolgreich für das Klingt Gut Minifestival angemeldet.

Hier kannst du dich einloggen und deine angaben bearbeiten
<a href=<?= $activate_url ?> > <?= $activate_url ?> </a>

Infos zur Bezahlung findest du nach klick auf obigen Link
unter bezahlen.  



<br>
