
<div class="users form">
<?php echo $this->Form->create(null, array('url' => '/Users/add'));?>

<div style="width:450px;">
<b> persönliche Daten </b><br>
	<?php

		echo $this->Form->hidden('id');
		echo $this->Form->input('email');
		echo $this->Form->input('password'); echo ("(optional)");
		echo $this->Form->input('forename', array('label' => 'Vorname'));
		echo $this->Form->input('surname', array('label' => 'Nachname'));
		echo $this->Form->input('kontakt',array('label' => 'Wen kennst du?'));

?>
		Schreibe unter 'Wen kennst du?' auf welchen der anderen Teinehmenden (Organistoren) du kennst oder woher
		du von der Veranstaltung weißt. (Damit wir wissen das du echt bist.)<br><br>
</div>
<?php echo $this->Form->end('weiter');?>
</div>
