<div class="users form">
<?php echo $this->Form->create('User', array('action' => 'editName'));?>
	<fieldset>
	internen Name von <?= $username ?>  ändern<br>
	VORSICHT Sollte nur direkt nach dem anlegen eines Benutzers
	geschehen und VOR hinzufügen dieses zu einer Gruppe - 
	kann sonst zu Fehelern im System führen.
 	<?php
 		echo $this->Form->input('id');
 		echo $this->Form->input('name');
	?>
	</fieldset>
<?php echo $this->Form->end('Submit');?>
</div>
