<div class="users form">
<?php echo $this->Form->create(null, array('url' => "/Users/noaccess"));?>
	<fieldset>
	<legend> Falsches Password </legend>

	Benutzername oder Passwort war falsch.<br>
	(Du kannst dich auch mit deiner Email statt dem Benutzernamen anmelden) <br>
	<br>
	Hast du dein Passwort vergessen?<br>
	Trag deine Emailadresse hier ein <br>
	In der Email die du erhälst steht alles weitere<br>

	<?php
		echo $this->Form->input('email');
	?>
	</fieldset>
<?php echo $this->Form->end('Submit');?>
</div>
