<div class="users form">
<?php echo $this->Form->create(null, array('url' => "/Users/resetpassword/$user_id/$in_hash"));?>
	<fieldset>
	<legend>Reset Password</legend>
	Hallo, <?=$username;?><br>
	bitte gib dein neues Password ein.<br>

	<?php
		echo $this->Form->input('username', array('type' => 'hidden', 'value' => $username));
		echo $this->Form->input('password');
	?>
	</fieldset>
<?php echo $this->Form->end('Submit');?>
</div>
