
<div class="crewview users view" style="border-right: solid 2px black; width:500px">
	<dl>
		<dt>Name</dt>
		<dd>
			<?php echo $user['User']['forename']." ".$user['User']['surname']; ?>
		</dd><br>
		<dt><?php echo __('Email'); ?></dt>
		<dd>
			<?php echo $user['User']['email']; ?>
			
		</dd><br>
		<dt><?php echo __('Kontakt'); ?></dt>
		<dd>
			<?php echo $user['User']['kontakt']; ?>
			
		</dd>
    </dl>
    <br>


</div>
<div>

</div>


