 
<div class="users form">
<?php echo $this->Form->create(null, array('url' => '/Users/willkommen'));?>

<div style="width:450px;">
<b> Anmelden </b><br><br>
	<?php
// 		echo $this->Form->hidden('id');
		echo $this->Form->input('email');
	?>

</div>
<br>
<?php echo $this->Form->end('Weiter');?>
</div>
