<div class="users form">
	<fieldset>
	<legend> Dein Passwort wurde zu oft falsch eingegeben </legend>

	Dein Passwort wurde zu oft falsch eingegeben.<br>
	Bitte nimm Kontakt mit dem Administrator auf<br>
	
	</fieldset>
</div>
