Hallo <?= $username ?>,<br>
Deine registierung ist in kürze abgeschlossen,<br>
du musst nur noch auf diesen Link klicken:<br>
<a href=<?= $activate_url ?> > <?= $activate_url ?> </a>
<br>
Dieser Link gilt nur diesen Monat.<br> 
