/* ######################################################################################################
** # "Yet Another Multicolum Layout" (c) by Dirk Jesse (http://www.yaml.de) #############################
** ######################################################################################################
** 
**  YAML Version: 2.5.1
**  Dateiversion: 27.08.06  
**  Datei       : nav_vlist.css
**  Funktion    : Formatierung der Hauptnavigation: Reiternavigation "Sliding Doors"
**
*/

@media all
{
/* ######################################################################################################
** ### Vertikale Listennavigation #######################################################################
** ######################################################################################################
*/

	#submenu { 
		width: 100%; 
		overflow: hidden;
		margin: 0.5em 0 0.5em 0; 
		list-style-type: none; 
	}
	
	#submenu a { text-decoration: none; }
	#submenu li { float:left; width: 100%; margin:0; padding: 0 }

	#submenu li span { 
		display:block; 
		width: 90%; 
		padding: 3px 0px 3px 10%; 
		color: #444; 
		font-weight: bold; 
		border-bottom: 1px #ddd solid;
	}
	
	#submenu li a { 
		width: 90%; 
		padding: 3px 0px 3px 10%; 
		color: #444;
	}
	#submenu li a:hover { background-color:#fff; }
	
	#submenu li ul { list-style-type: none; margin:0; padding: 0; }
	#submenu li ul li { float:left; width: 100%; margin:0; padding:0; }
	#submenu li ul li a { 
		width: 80%; 
		padding: 3px 0px 3px 20%; 
		color: #666; 

	}

	#submenu li ul li a:hover { background-color:#fff; color: #fff; }
	
	#submenu li#title { 
		width: 90%; 
		padding: 3px 0px 3px 10%; 
		font-weight: bold; 
		color: #444; 
	}
	
	#submenu li#active { 
		width: 90%; 
		padding: 3px 0px 3px 10%; 
		font-weight: bold; 
		color: #fff; 
		background-color:#fff; 
		border-bottom: 1px #eee solid;

	}
	
	#submenu li ul li#active { 
		width: 80%; 
		padding: 3px 0px 3px 20%; 
		font-weight: bold; 
		color: #fff; 
		background-color:#aab; 
		border-bottom: 1px #fff solid;
	}


}
