<div class="admingroups form">
<?php echo $this->Form->create('Admingroup');?>
	<fieldset>
		<legend><?php echo __('Add Admingroup'); ?></legend>
	<?php
		echo $this->Form->input('name');
		echo $this->Form->input('desc');
		echo $this->Form->input('User')."( Können später hinzugefügt werden )";
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit'));?>
</div>

