<div class="admingroups form">
<?php echo $this->Form->create('Admingroup');?>
	<fieldset>
		<legend><?php echo __('Edit Admingroup'); ?></legend>
	<?php
		echo $this->Form->input('id');
		echo $this->Form->input('name');
		echo $this->Form->input('desc');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit'));?>
</div>

