a:link    { color:#000040; background-color:#ffffff; font-family:Tahoma,sans-serif;  text-decoration:none;  padding-left:4px;padding-right:4px }
a:visited { color:#000040; background-color:#ffffff; font-family:Tahoma,sans-serif; text-decoration:none; padding-left:4px ;padding-right:4px}
a:hover   { color:#ffffff; background-color:#666666; font-family:Tahoma,sans-serif; text-decoration:none;}
a:active  { color:#400040; background-color:#ffffff;  font-weight:bold; text-decoration:none;}
body{
	text-align: center;
	background: #fff;
	FONT-SIZE: 0.9em;
	FONT-FAMILY: Myriad, Tahoma, Geneva, sans-serif;
}
.programm{
	text-align:left;
	font-size:1em;
}

/* Removes list-style from lists */
ol,ul { list-style : none;  
 padding-left:2px;
  margin-left:0em}

#menu {/* this 'box' holds the menu */
   text-align: left; /* all the menu items are left aligned in the 'box' */
	clear:both;
}
.menutd{
	padding-top:0px;
}
#menu ul{
	margin-top:0px;
	padding-top:0px;
	height: 10px;
}
#header {/* this 'box' holds the menu */
   text-align: center; /* all the menu items are left aligned in the 'box' */
	width: 1000px;
	background-color:#aa4400;
}


#menu ul li { 
  width: auto; /* lets the menu item buttons be sized as needed for menu title*/
/*width: 3em; */   /* if un-commented will set menu buttons to fixed width */
  display: inline; /* make this a horizontal menu */
  float: left; /* holds the menu 'box' to the left edge of the body div. Not really needed here.*/
  list-style: none; /* no decoration on menu items.*/
  text-align: left; /* place the menu titles in the center of the button.*/
  font-size: 0.9em; 
  padding: 0 1em; /* spacing between menu items  experiment with this*/
  color:#333; /* font color for the menu items */
}

h1{
	FONT-SIZE: 19px;
}
#kptnfooter{
	FONT-SIZE: 8px;
	padding: 2px;
	color:#808000;
	text-align:right;
}
#kptnfooter a:link    { color:#ddd; font-family:Tahoma,sans-serif;  text-decoration:none; }
.bildtxt{
	text-align:left;
	FONT-SIZE: 16px;
	float:left;
	margin-top:13px;
}
.logo{
	float:left;
}

.break{
	clear:left;
}
#hauptteil{
	text-align:center;
}
#haupttabelle{
	text-align:center;
}
.page {
	margin: 0 auto;
	width: 570px;
	text-align: center;
	}

.content{
	text-align:left;
}

.category{
	margin-bottom:11px;
	FONT-SIZE: 1.2em;
}
#footertd{
	margin-top:0px;
	padding-top:0px;
	vertical-align:top;
}
.contenthr{
	border:1px;
	color:black; 
	background-color:black; 
	height:1px;

}

/* Tables */
table {
	background: #fff;
	border:1px solid #ccc;
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	background: #f2f2f2;
	border:1px solid #bbb;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	text-align: center;
}
th a {
	background:#f2f2f2;
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a:hover {
	background: #ccc;
	color: #333;
	text-decoration: none;
}
table tr td {
	background: #fff;
	border-right: 1px solid #ccc;
	padding: 4px;
	text-align: center;
	vertical-align: top;
}
table tr.altrow td {
	background: #f4f4f4;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}
td.actions a {
	margin: 0px 6px;
}
.cake-sql-log table {
	background: #f4f4f4;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
}

	

