a:link    { color:#2F5400; font-family:Tahoma,sans-serif;   text-decoration:none; }
a:visited { color:#2F5400; font-family:Tahoma,sans-serif; font-weight:bold; text-decoration:none }
a:hover   { color:#ffffff; background-color:#666666; font-family:Tahoma,sans-serif; text-decoration:none;}
a:active  { color:#CF8430; background-color:#333; text-decoration:none;}

#tidalogo{
	padding-top:10px;
}

a[data-tooltip]:before {
	position: absolute;
	background-color: white;
	color: black;
	border-radius: 5px;
	padding: 0.5em;
	margin-left: 100px;
	content: attr(data-tooltip);
	width:20em;
	border:solid 1px #A0A0A0;
	opacity:0;
	visibility:hidden;
	box-shadow: 0 2px 5px #888;
	background:-webkit-linear-gradient(top,#eeeeee, #fff); 
	background:-o-linear-gradient(top,#eeeeee, #fff);
	background:-ms-linear-gradient(top,#eeeeee, #fff);
	background:linear-gradient(to bottom,#eeeeee, #fff);
	overflow: hidden;
}
a[data-tooltip]:hover:before {
	display: block;
	opacity:1;
	visibility:visible;
}

body{
	text-align: center;
	background: #fff;
	FONT-SIZE: 0.8em;
	FONT-FAMILY: Myriad, Tahoma, Geneva, sans-serif;
	margin: 0px;
}

.programm dt{
	float:left;
}
.programm dd{
	padding-left:200px;
}

.programm{
	text-align:left;
	font-size:1.2em;
	width:100%;
}
label {
	width:150px;
	float:left;
	display:block;	
}


#menu {/* this 'box' holds the menu */
   text-align: left; /* all the menu items are left aligned in the 'box' */
	margin-top: 1px;
	border-top: solid #1a1a1a 2px;
	border-bottom: solid #1a1a1a 2px;
	border-left: solid #1a1a1a 2px;
	border-radius: 4px 0px 0px 4px;

}

.menutd{
	margin-top:0px;
	padding-top:0px;
	vertical-align:top;
	height: 9px;
}


i{
	white-space:pre;
}

#hauptteil{
	text-align:left;
	min-width:750px;
	padding-top:20px;
	background-color:#eeeeee;

}

#haupttabelle{
	text-align:left;
	width:870px;
}



.content{
	text-align:left;
	font-size: 12pt;
}

.content td{
	padding: 2px 2px 4px 4px;
	border-left:solid 1px #000;
	border-bottom:solid 1px #000;

}


.contenthr{
	border:1px;
	color:black; 
	background-color:black; 
	height:3px;

}

.content th{
	border:none;
	border-left:solid 1px #111;
	border-right:none;
	
}

.index th{
	padding-right:5px;
	padding-left:5px;

}