<div class="entries index">
<div class="actions">
	<ul>
		<li><?php echo $this->Html->link(__('New Entry', true), "/$speech/entries/add/"); ?></li>
	</ul>
</div>
	<table cellpadding="0" cellspacing="0" class="crewlist">
	<tr>
			<th><?php echo $this->Paginator->sort('name');?></th>
			<th><?php echo $this->Paginator->sort('speech');?></th>
			<th><?php echo $this->Paginator->sort('value');?></th>
			<th class="actions"><?php __('Actions');?></th>
	</tr>
	<?php
	$i = 0;
	foreach ($entries as $entry):
		$class = null;
		if ($i++ % 2 == 0) {
			$class = ' class="altrow"';
		}
	?>
	<tr<?php echo $class;?>>
		<td><?php echo $entry['Entry']['name']; ?>&nbsp;</td>
		<td><?php echo $entry['Entry']['speech']; ?>&nbsp;</td>
		<td><?php echo $entry['Entry']['value']; ?>&nbsp;</td>
		<td class="actions">
			<?php 
			echo $this->Html->link(__('View', true), "/$speech/entries/view/".$entry['Entry']['name']); 
			//echo $this->Html->link(__('View', true), array('action' => 'view',$entry['Entry']['name'],  'speech' => 'de')); 
			?>

			<?php 
			echo $this->Html->link(__('Edit', true), "/$speech/entries/edit/".$entry['Entry']['id']); 
			//echo $this->Html->link(__('Edit', true), array('action' => 'edit',$entry['Entry']['id'],  'speech' => 'de')); 
			
			?>
			<?php echo $this->Html->link(__('Delete', true), "/$speech/entries/delete/".$entry['Entry']['id'], null, sprintf(__('Are you sure you want to delete # %s?', true), $entry['Entry']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>

	<div class="paging">
		<?php echo $this->Paginator->prev('<< ' , array(), null, array('class'=>'disabled'));?>
	 | 	<?php echo $this->Paginator->numbers();?>
 |
		<?php echo $this->Paginator->next( ' >>', array(), null, array('class' => 'disabled'));?>
	</div>
</div>
