<?php ?>
<div class="users index">
<p>

</p>
<table cellpadding="0" cellspacing="0">
<tr>
	<th>name</th>
	<th>email</th>
	<th>anfahrt</th>
	<th>abfahrt</th>
	<th>mitfahrgelegenheit</th>
	<th>ort</th>
	<th>verkehrsmittel</th>
	
</tr>
<?php

$alle = $zusagen = $i = 0;
foreach ($users as $user):
	$class = null;
	if ($i++ % 2 == 0) {
		$class = ' class="altrow"';
	}

?>
	<tr<?php echo $class;?>>
		<td>
			<?php echo $user['User']['forename']; ?>
		</td>

		<td>
			<?php echo $user['User']['email']; ?>
		</td>

		<td>
			<?php if(($user['Participation']['anreise']) && $user['Participation']['anreise'] <> '0000-00-00 00:00:00') echo date('d.m. H:i', strtotime($user['Participation']['anreise'])); ?>
		</td>
		<td>
			<?php if(($user['Participation']['abreise'])) echo date('d.m. H:i', strtotime($user['Participation']['abreise'])); ?>
		</td>

		<td>
			<?php echo $sucheoderbiete[ $user['Participation']['mitfahrgelegenheit']]; ?>
		</td>
		<td> 
			<?php echo $user['Participation']['ort']; ?>
		</td>
				<td>
			<?php echo $user['Participation']['verkehrsmittel']; ?>
		</td>
		

	</tr>
<?php endforeach; ?>
</table>


</div>

