a:link    { color:#2F5400; font-family:Tahoma,sans-serif;   text-decoration:none; }
a:visited { color:#2F5400; font-family:Tahoma,sans-serif; font-weight:bold; text-decoration:none }
a:hover   { color:#ffffff; background-color:#666666; font-family:Tahoma,sans-serif; text-decoration:none;}
a:active  { color:#CF8430; background-color:#333; text-decoration:none;}

#tidalogo{
	padding-top:10px;
}

a[data-tooltip]:before {
	position: absolute;
	background-color: white;
	color: black;
	border-radius: 5px;
	padding: 0.5em;
	margin-left: 100px;
	content: attr(data-tooltip);
	width:20em;
	border:solid 1px #A0A0A0;
	opacity:0;
	visibility:hidden;
	box-shadow: 0 2px 5px #888;
	background:-webkit-linear-gradient(top,#eeeeee, #fff); 
	background:-o-linear-gradient(top,#eeeeee, #fff);
	background:-ms-linear-gradient(top,#eeeeee, #fff);
	background:linear-gradient(to bottom,#eeeeee, #fff);
	overflow: hidden;
}
a[data-tooltip]:hover:before {
	display: block;
	opacity:1;
	visibility:visible;
}




body{
	text-align: center;
	background: #fff;
	FONT-SIZE: 0.8em;
	FONT-FAMILY: Myriad, Tahoma, Geneva, sans-serif;
	margin: 0px;
}

#b52 td{
	border: none;
	vertical-align: top;
}

#b52 .firsttd {
	text-align:right;
	padding-right: 40px
} 

.programm dt{
	float:left;
}
.programm dd{
	padding-left:200px;
}
.programm .b{
	font-weight:600;
}


.wherror{
	color:red;
}
.wh_shifts{
	font-size:95%;
}
.perhumsatzskala{
	position:absolute;
	top:585px;
	left:0px;
	height:15px;
	font-size:10pt;
	border: 1px solid black;

}

.n_programm{
	margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;	
	border-spacing: 0;
	width:100%;
	color: #404040;
	font-family: sans-serif,Arial;
    line-height: 1.8;
}

.n_programm td{
	border-top: 1px solid #E6E6E6;
	padding: 1rem 1rem 0.8rem 0;
	vertical-align:baseline;
}
.n_programm tr{
	vertical-align:baseline;
}


.perhumsatzskala div{
	float:left;
	height:15px;
	width:99px;
	border-left: 1px solid black;
}
.monthskala{
	position:absolute;
	top:585px;
	left:0px;
	height:15px;
	font-size:10pt;
	border: 1px solid black;

}
.monthskala div{
	float:left;
	height:15px;
	width:64.5px;
	border-left: 1px solid black;
}




.perhskala{
	position:absolute;
	top:0px;
	left:0px;
	width:15px;
	font-size:10pt;
	border: 1px solid black;

}
.perhskala div{
	height:149px;
	width:15px;
	border-bottom: 1px solid black;
}
.perhdiv{
	position:absolute;
	border: 1px solid green;
	top: 200px;
	left: 220px;
	width:802px;
	height:600px;
}
.perhpix{
	position:absolute;
	background:black;
	width:3px;
	height:3px;
	font-size:1px;
}
.otherperhpix{
	background:black;
}
.myperhpix{
	background:red;
}


.icon_button{
background:#688800;
height:16px;
padding-left: 2px;
padding-bottom: 2px;
padding-top: 1px;
font-size:8pt;
position:relative;
top:-4px;
	border-radius:2px;
}
.icon_button a{
color:white;
font-size:8pt;
font-weight:bold;
}

.programm{
	text-align:left;
	font-size:1.2em;
	width:100%;
}
.leftProg{
	float:left;
}
.rightProg{
	float:left;
	padding-left:70px;
}
.shiftindex table{
	width:100%;
}

.shiftindex select{
	background: #ffffff;
	border:0px solid #fff;
	font-size:120%;
	padding:0px;
	margin:0px;
}
.shiftindex th{
	font-size:120%;
}

.shiftindex td{
	text-align:center;
	vertical-align:middle;
	padding:0px;
	height:20px;
	overflow:hidden;
}

.sw_aufeinanderfolgend{
	width: 750px;
}

.sw_aufeinanderfolgend label{
	width: 240px;
}
.sw_aufeinanderfolgend div{
	width: 370px;
}

.sw_overview_userlist .todotable{
	font-size:10pt;
}
.sw_overview_userlist .todotable th{
	padding:2px;
	font-weight:500;
}



.schichtwunsch{
	font-size:10px;
	padding-right: 4px;
	display:block;
	float:left;	
}
.schichtwunsch_1 a{
	color:green;
}

.schichtwunsch_1{
	font-size:11px;
	font-weight:600;	
}
.schichtwunsch_2 a{
	color:orange;
}

.schichtwunsch_2{
	font-size:11px;
	font-weight:500;	
}
.schichtwunsch_3{
	font-size:9px;
}

.schichtwunsch_3 a{
	color:red;
}

.schichtwunsch_4{
	font-weight:400;
	color:grey;
	font-size:6px;
	
}

.schichtwunsch_5{
	display: none;	
}

/* Removes list-style from lists */
ol,ul { list-style : none; 
 padding-left:2px;
  margin-left:0em
}

#nav .dropdown{
	display:none; 
	position:absolute;
	margin: 0; 
	background:#1a1a1a; 
	padding:5px;
	padding-top:4px;
}
#nav li:hover .dropdown{
	display:block; 
}

#nav a:focus + .dropdown{
	display:block; 
}



#nav .dropdown a{
color:white;
padding:2px;
}

#nav #current .dropdown{
	background:white; 
	padding:5px;
	border: 2px solid #1a1a1a;
	margin-top:0px;
}
.hinweise_div ul{
	padding:0px:
	margin:0px;
}
.hinweise_div a{
	color:#efa;
	display:block;
}
.hinweise_div .dropdown{
	display:none; 
	position:absolute;
	margin: 0; 
	background:#3F7400; 
	padding:5px;
	padding-top:4px;
	font-size:10pt;
	font-weight:500;
}
.hinweise_div span:hover .dropdown{
	display:block; 
}

.hinweise_div a:focus + .dropdown{
	display:block; 
}


.right{
	text-align:right;
	float:right;
	padding-right:2px
}
.shiftindex .kalender_urlaub{
	font-size: 60%;
}

label {
	width:150px;
	float:left;
	display:block;	
}

#yesorno label{
	width:250px;
	display:inline;
	float:none;
	padding-right:20px;	

}

#doodle_votes label{
	float:none;
	display:inline;	
}
#nav label{
	width:auto;
}

#menu {/* this 'box' holds the menu */
   text-align: left; /* all the menu items are left aligned in the 'box' */
	margin-top: 1px;
	border-top: solid #1a1a1a 2px;
	border-bottom: solid #1a1a1a 2px;
	border-left: solid #1a1a1a 2px;
	border-radius: 4px 0px 0px 4px;

}

#menu #nav a{
color: white;
}
#menu #nav label{
color: white;
}
#menu #nav{/* this 'box' holds the menu */
	background: #1a1a1a;
	height: 20px;
	margin-top:2px;
	margin-bottom:2px;
	margin-left:2px;
	padding-top:4px;
	border-radius:3px 0px 0px 0px;

}

#menu #subnav{/* this 'box' holds the menu */
   text-align: left; /* all the menu items are left aligned in the 'box' */
	background: white;
	height: 19px;
	border-radius:3px 0px 0px 0px;
	margin-left:2px;
	margin-bottom:2px;
}
#menu #subnav #subcat{
	background: #668000;
	float:left;
	height:17px;
	padding-top:2px; 
	-moz-border-radius-bottomleft:3px;
	color:white;
	font-weight:bold;
}
#menu #subnav #subcat a{
	color:white;
}
#menu #subnav #actions{
	height:17px;
	padding-top:2px; 
}
.menutd{
	margin-top:0px;
	padding-top:0px;
	vertical-align:top;
	height: 9px;
}
#menu ul{
	margin-top:0px;
	padding-top:0px;
	vertical-align:top;
	height: 9px;
}


#menu ul li { 
  width: auto; /* lets the menu item buttons be sized as needed for menu title*/
/*width: 3em; */   /* if un-commented will set menu buttons to fixed width */
  display: inline; /* make this a horizontal menu */
  float: left; /* holds the menu 'box' to the left edge of the body div. Not really needed here.*/
  list-style: none; /* no decoration on menu items.*/
  text-align: left; /* place the menu titles in the center of the button.*/
  font-size: 0.9em; 
  padding: 0 0.4em; /* spacing between menu items  experiment with this*/
}
#menu a{
  display:block;
  padding: 0 0.4em;
}


#menu #current a{ 
	color:#668000; 
	background:white;
	height:20px;
	font-weight:bold;
}



.administrate_groups{
	font-size:12px;
	font-weight:400;
}
.logo_td{
	padding-left:14px;
}
.vertical{
	vertical-align:baseline;
}

.hinweise_div{
	background: #5F9410;
	color:white;
	padding:6px;
	border-radius:7px;
	height:78px;
	float:left;
	width:141px;
	margin-bottom:4px;
	margin-right: 10px;
	font-size: 16px;
	font-weight:bold;
}

.schicht_termine{
	font-size:10pt;
}
.schicht_termin{
	margin-bottom:4px;
	line-height:11pt;
	display:block;
}
.content .schicht_termine_td{
	text-align:left;
	vertical-align:top;
}
.content .schicht_td{
	vertical-align:top;
}


.leerTermin{
	color: #999;
}
.leerTermin a{
	color: #999;
}

.dringende_hinweise{
	background: #AF9410;
}
.dringende_hinweise .termine a{
	font-size: 80%;
	font-weight:500;
}

.termin_hinweise{
	background: #AF6410;
}

.termin_hinweise .termine a{
	font-size: 80%;
	line-height: 100%;
	font-weight:400;
}

.decision_gewichtung{
	font-size:80%;
}
.decision_title{
	font-size: 110%;
	padding-top: 10px;
	font-weight:bold;
}
.decision_beschreibung{
	font-size: 90%;
}
.decisions .votegroup{
	font-size: 90%;
	color:grey;
}

.decisions .result .result_v1{
	border-top: solid 6px #5F9410;
}
.decisions .result .result_v0{
	border-top: solid 6px #AF6410;
}


.decisions .result{
	text-align: center;
}
.decisions .result .col_title{
	text-align: left;
}
.decisions .result .value{
	text-align: center;
}
.decisions .result .value_desc{
	font-size: 50%;
	color:light-grey;
}
.decisions .openProposal a{
	color:#550000;
	font-weight:600;
}


.proposals .laufzeit{
	width:15px;
	margin-right: 30px;
}

.proposals .title_input, .decisions .title_input{
	width:600px;
}
.proposals textarea, .decisions textarea{
	width:600px;
}
.proposal{
	border-top: solid 2px black;
	border-bottom: solid 2px black;
	height:auto;
}

.proposal_title{
	//background:#ddd;
	//background:#eBe8e6;
	border-bottom: solid 1px #ddd;
	font-weight:bold;
	padding-bottom:0px;
	width:80%;
}
.proposal_desc{
	font-size: 90%;
	width:80%;
	min-height:73px;
}
.proposal_desc_inner{
	min-height:40px;
}
.proposal_comment{
	font-size: 90%;
	border-top: solid 1px #ddd;
}

.proposal_vote{
	//border-top: solid 2px black;
	border-bottom: solid 1px black;
	border-left: solid 10px #5F9410;
	margin-top:2px;
	font-size: 80%;
	width:18%;
	float:right;
	padding-left:15px;
	min-height: 95px;
}
.proposal_vote .voted a{
	font-weight:bold;
	color:#a51;
}


h1{
	FONT-SIZE: 19px;
}
i{
	white-space:pre;
}
.logos{
	float:left;
}
#kptnfooter{
	FONT-SIZE: 8px;
	padding: 2px;
	color:#808000;
	text-align:right;
}
#kptnfooter a:link    { color:#ddd; font-family:Tahoma,sans-serif;  text-decoration:none; }

#bildtxt .h90{
	font-size:78px;
}

#bildtxt{
	color: #5F9410;
	text-align:left;
	FONT-SIZE: 22px;
	FONT-weight: 550;
	float:left;
	margin-top:auto;
	margin-left:6px;
	margin-bottom:0px;
	width: 200px;
	height:90px;
	vertical-align:bottom;
}

#bildtxt #titletxt{
	/* margin-top:auto; 
		display:block; */
	vertical-align:bottom;
}

#bildtxt .todo{
	COLOR: #5F9410;
}

.logo{
	float:left;
}

.logo2{
	float:left;
	border-right: solid 2px green;
}
#logo_wort{
	position: relative;
	top: 30px;
	left:100px;
	color:red;
}

.break{
	clear:left;
}

#hauptteil{
	text-align:left;
	min-width:750px;
	padding-top:20px;
	background-color:#eeeeee;

}

#haupttabelle{
	text-align:left;
	width:870px;
}



.page {
	margin: 0 auto;
	width: 570px;
	text-align: center;
	}

#getraenke{
	padding:10px;

}
#getraenke tr{
	text-align:left;
	background-color:#eeeeee;
}

.content .kptnShiftFee td{
	border:none;
}

.content .kptnShiftFee .firsttd{
	border-right:solid 1px black;
}

.content .kptnShiftFee th{
	border-left:none;
	border-right:none;
	border-bottom:solid 1px black;
	width: 55px;
}


.content .kptnShiftFee .altrow{
	background-color:#ccc;
}


.content{
	text-align:left;
	font-size: 12pt;
}

.content td{
	padding: 0 0 4px 4px;
	border:solid 1px #000;
}
.pt4{
	padding-top:4px;
}
.content .todotable .firsttr th{
	border-bottom:solid 1px #000;
}

.content .todotable{
	border-bottom:solid 1px #000;
	width: 100%;
}


.content .todotable td,th{
	border:none;
	border-bottom:solid 1px #ddd;
	border-left:solid 2px #111;
	border-right:none;
	
}
.content .todotable .firsttd{
	border-left:solid 0px #111;
}
.content .todotable .optional{
	color:grey;
}
.content .todotable .optional a{
	color:grey;
}

.content .todotable .optional .icon_button a{
	color:white;
}


.content .todotable .actions{
	width:100px;
}


.content .crewtable .firsttr th{
	border-bottom:solid 1px #000;
}

.content .crewtable{
	border-bottom:solid 1px #000;
	width: 100%;
}


.content .crewtable td,th{
	border:none;
	border-bottom:solid 1px #ddd;
	border-left:solid 2px #111;
	border-right:none;
	
}
.content .crewtable .firsttd{
	border-left:solid 0px #111;
}

.kptnTodoMultiadd input, .kptnTodoMultiadd textarea{
	border: none;
	padding: 0px;
}
.kptnTodoMultiadd select{
	//border:solid 1px grey;
	background-color: white;
	width: 100%;
	
}

.kptnTodoMultiadd .todoWer{
	width: 100px;
}
.kptnTodoMultiadd .todoWas{
	width: 200px;
}
.kptnTodoMultiadd .shiftInsert{
	width: 100px;
}
.kptnTodoMultiadd .todoBeschreibung{
	width: 300px;
}


.category{
	margin-bottom:11px;
	FONT-SIZE: 1.2em;
}
#footertd{
	margin-top:0px;
	padding-top:0px;
	vertical-align:top;
}
.contenthr{
	border:1px;
	color:black; 
	background-color:black; 
	height:3px;

}

.KptnOursaleAdd, .KptnOursaleView, .KptnOursaleEdit{
	width: 780px;
}
.KptnOursaleAdd #calcGeldstueck{
	font-size:50%
	line-height:10%;
}
.KptnOursaleAdd #calcGeldstueck td{
	border: 0px;
	padding: 0px;
}
.KptnOursaleAdd #calcGeldstueck input{
	width: 192px;
	height: 12px;
}

#UserLoginForm .input{
	display:inline;
	float:left;
}

#UserLoginForm .submit{
	display:inline;
	float:left;
	padding-left:10px;
	font-size:90%;
}

#UserLoginForm label{
	padding-left:10px;
	display:inline;
	float:left;
	font-size:91.25%;
}

.loginform{
	background-color:#fff;
	float:left;
}

#UserLoginForm input{
	padding:0px;
	margin-left:10px;
	font-size:100%;

}

#UserLoginForm .error-message{
	display:none;
}

#shiftupdate {
	/* position:absolute; */
	width: 10px;
	height:30px;
	float:right;
	font-size:10px;
	text-align:right;
}
.paging{
	display:inline;
}

.error-message{
	color:red;
	display:inline;
}

.kstxt{
	width:400px;
	float:left;
	border-bottom: 1px dotted #000;
	display:block;
}

.view .ksvalue{
	font-weight:600;
	width:100px;
	float:left;
	border-bottom: 2px solid #000;
	text-align:right;
	padding-right:5px;
	display:block;
}

.add .ksvalue{
	font-weight:600;
	width:250px;
	float:left;
	text-align:right;
	padding-right:5px;
	display:block;
}

.paging .symbols{
	float:left;
	width:300px;
}

.howmuch{
	min-width:400px;
}

.paging div{
	display:inline;
	font-size:90%;
}

.index th{
	padding-right:5px;
	padding-left:5px;

}

.crewview dt{
	width:150px;
	float:left;
}
	
.defaultform label{
	width:150px;
	float:left;
	display:block;	
}
.defaultform input{
	width:230px;
}
.defaultform option{
	width:205px;
}
.defaultform .datetime option{
	width:auto;
}

.groupuser{
	width: 130px;
	float:left;
}
