<div class="programm">
<div class="leftProg" style="float:left;">
<?php
	foreach ($appointments as $appointment):
	?>
	<?= $wochentag[date('w', strtotime($appointment['Appointment']['von']))] ?>
	<?= date('d.m.Y | H:i', strtotime($appointment['Appointment']['von'])) ?> Uhr<br>
	<b><?= $appointment['Appointment']['title'] ?></b><br>
	<? if(! empty($appointment['Appointment']['beschreibung'])) echo  $this->Html->link('...mehr', array('action' => 'viewProgramm', $appointment['Appointment']['id'])); ?>
	<br><br>
<?php endforeach; ?>
</div><div class="rightProg" style="float:left; padding-left:70px;">
<?php
	foreach ($appointments2 as $appointment):
	?>
	<?= $wochentag[date('w', strtotime($appointment['Appointment']['von']))] ?>
	<?= date('d.m.Y | H:i', strtotime($appointment['Appointment']['von'])) ?> Uhr<br>
	<b><?= $appointment['Appointment']['title'] ?></b><br>
	<? if(! empty($appointment['Appointment']['beschreibung'])) echo  $this->Html->link('...mehr', array('action' => 'viewProgramm', $appointment['Appointment']['id'])); ?>
	<br><br>
<?php endforeach; ?>
</div>
</div>
