<div id="programm" class="programm">
	<?= $wochentag[date('w', strtotime($appointment['Appointment']['von']))] ?>
	<?= date('d.m.Y | H:i', strtotime($appointment['Appointment']['von'])) ?> Uhr<br>
	<b><?php echo $appointment['Appointment']['title']; ?></b><br>
	<?php echo $appointment['Appointment']['beschreibung']; ?>
</div>
