<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<?php  header("Content-Type: text/html; charset=utf-8"); ?>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
	<title> kptn .b intern | <?=$title_for_layout?> </title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<?=$this->Html->css('kptndesign'); ?>
	<?= $this->Html->script('kptn.js');?>

</head>
<body class="mainPage">
<center>
	<table id="haupttabelle">
	<!-- start content -->
		<tr>
			<td class="content">
				<div id=“hauptteil“>
					<?=$content_for_layout?>
				</div>
			</td>
		</tr>
	<!-- end content -->
	</table>			

</center>

</body>

</html>


