<div class="entries view">
	<? if($cox){  ?>
	<div class="entryEdit" style="float:right;">
	<?= $this->Html->link($this->Html->image("edit2.gif", array("border" => 0, 'title' => 'bearbeiten')), "/wiki_entries/edit/".$entry['WikiEntry']['id'],array('escape' => false),null,false); ?>
	</div>
	<? } ?>
	<?= $entry['WikiEntry']['value']; ?>
</div>