<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<?php  header("Content-Type: text/html; charset=utf-8"); ?>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
	<?=$this->Html->css('kptndesign'); ?>
	<? setlocale(LC_TIME, 'de_DE@euro', 'de_DE.utf8', 'de', 'ge'); ?>

</head>
<body class="mainPage">
	<?=$content_for_layout?>




</body>

</html>


	<?= $wochentag[date('w', strtotime($row['von']))] ?>
	<?= date('d.m.Y | H:i', strtotime($row['von'])) ?> Uhr<br>
	<b><?= $row['title'] ?></b><br>
	<? if(! empty($row['beschreibung'])) echo  $this->Html->link('...mehr', array('action' => 'viewProgramm', $row['id'])); ?>
	<br><br>
