<?php  header("Content-Type: text/html; charset=utf-8"); ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
	<title> das klingt doch gut ... | <?=$title_for_layout?> </title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<?=$this->Html->css('tidadesign'); ?>

	<? //$this->Html->css('sheet/jquery.sheet.css'); ?>
	<? //$this->Html->css('sheet/jquery-ui/theme/jquery-ui.css'); ?>
	<? //$this->Html->script('sheet/jquery-1.4.3.min.js');?>
	<? //$this->Html->script('sheet/jquery.sheet.min.js');?>
	<?= $this->Html->script('kptn.js');?>


</head>
<body class="mainPage">
<!-- <body class="mainPage" onkeyup="alert('hehe')"> -->

<? setlocale(LC_ALL, 'de_DE.utf8'); ?>
<center>
<div style="width:300px; ">
	<? echo $this->Html->image("logo.png", array('width' => 100, 'id' => 'tidalogo')); ?>
	<div style="float:right;">
	<div style="font-size:33px; padding-top:10px;"> klingt gut </div>
	<b> tanz in den august </b><br>
	31.7 - 2.8 2015
	</div>
</div>
<?= $this->Session->flash() ?>
	<table id="haupttabelle">
	<!-- start header -->
		<tr>
			<td class="logo_td" > 
			 	<?
					echo $this->Html->image("amsel.png", array('class' => 'logo')); 
				?>
			</td>
		</tr>
		<tr><td class="menutd" colspan="2">
		<div id="menu">

		</div>		
	</td></tr>

	<!-- end header -->

	<!-- start content -->
		<tr><td colspan="2" class="content">
			<div id=“hauptteil“>
			<?=$content_for_layout?>
			<?=$this->Session->flash('auth');?>
			</div>
		<hr class=contenthr />		
		</td></tr>
		<tr><td id=“footertd“ colspan="2" >
		<div ><center>
			<div id=“footertd“>
				<?= $this->Html->link("home", '/'); ?> | 
				<?= $this->Html->link("infos", '/pages/info_angemeldet'); ?> |
				<?= $this->Html->link("logistik", '/pages/logistik'); ?> |
				<?= $this->Html->link("fotos", '/pages/color'); ?> |
				<?= $this->Html->link("zeitplan", '/pages/zeitplan'); ?> | 

				<? if($username){ ?>
				<?= $this->Html->link("anfahrt", '/pages/anfahrtmit'); ?> | |
				<?= $this->Html->link("ich", '/Users/edit'); ?> |
				<?= $this->Html->link("logout", '/Users/logout'); ?>
				<? } else { ?>
				<?= $this->Html->link("anfahrt", '/pages/anfahrt'); ?>  | |
				<?= $this->Html->link("teilnehmen", '/Users/add'); ?> |
				<?= $this->Html->link("login", '/Users/login'); ?>
				<? } ?>
				<? if($cox){ ?> ||
					
				<?= $this->Html->link("mail", '/Mails/sendwebmail'); ?>  | |
				<?= $this->Html->link("gäste", '/Users/'); ?> |
				<? } ?>
					

			</div>
			</center> 		
		</div> <!--end of siteinfo-->
		</td></tr>

	<!-- end content -->

	</table>			

</center>

</body>

</html>


